-#  This file is app/views/movies/index.html.haml
%h1 All Movies



= form_tag#ratings_form movies_path, :method => :get do
  Include:
  - Movie.all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, !@checked_ratings[rating].nil? rescue check_box_tag "ratings[#{rating}]"
  = submit_tag#ratings_submit 'Refresh'

%table#movies
  %thead
    %tr
      %th#title_header{ class:[ (:hilite if @htitle) ] }=  link_to 'Movie Title', sort_by_title_movies_path( :gato => "perro" )
      %th#rating_header{ class:[ (:hilite if @hrating) ] }=  link_to 'Movie Rating', sort_by_rating_movies_path
      %th#release_date_header{ class:[ (:hilite if @hrelease) ] }=  link_to 'Relese Date', sort_by_release_movies_path
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path